
<title><%= title%></title>
<style>
  .all{
    color:white;
    background-image: linear-gradient(rgb(90, 90, 90), rgb(0, 0, 0));
    height: 100vh;
  }
</style>>
<div class="all">
<form >
    <div class="container" style="margin:auto;padding:auto;">
      <center>
      <h1 style="color:green" >Login</h1>
        <p>Please fill in this form to login.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  <br/><br/>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <hr>
      </center>
      <center>
      <button type="submit" >Login</button>
    </div>
  
    <div class="container signin">
      <center>
      <p>Forgot password? <a href="#">Reset Password</a>.</p>
    </div>
  </center>
  <center>
    <p><a href="/">Return Home</a>.</p>
  </form> 
</center>
</div>
